<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<!-- Navigation links -->
<nav>
    <!-- Show login and create account links only if the user is not logged in -->
    <a th:if="${loggedInUser == null}" th:href="@{/home/login}">Login</a> |
    <a th:if="${loggedInUser == null}" th:href="@{/home/createAccount}">Create Account</a>

    <!-- Show logout link and welcome message if the user is logged in -->
    <span th:if="${loggedInUser != null}">
        Welcome, <span th:text="${loggedInUser.name}"></span>! |
        <a th:href="@{/home/logout}">Logout</a>
    </span>
</nav>

<nav th:fragment="header" class="navbar">
    <span th:if="${loggedInUser!=null}">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" th:href="@{/myReviews/user}">Your Account</a></li>
                <li><a class="nav-link" th:href="@{/users}">Other Users</a></li>
            </ul>
        </div>
    </span>
</nav>


<h1>Product List</h1>
<!-- Product list table -->
<form action="#" th:action="@{/home}" th:method="get">
    <button type="submit" >Sort by Default</button>
</form>
<form action="#" th:action="@{/home/rating}" th:method="get">
    <button type="submit" >Sort by Star Rating</button>
</form>
<span th:if="${loggedInUser != null}">
    <form action="#" th:action="@{/home/userrating}" th:method="get">
        <button type="submit" >Sort by Follower's Star Rating</button>
    </form>
</span>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Average Stars</th>
    </tr>
    <tr th:each="product: ${products}">
        <td>
            <a th:href="@{/home/product/{id}(id=${product.id})}" th:text="${product.name}"></a>
        </td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.stars}"></td>
    </tr>
</table>

<!-- List of people the user follows -->
<h2 th:if="${loggedInUser != null}">People You Follow</h2>
<table th:if="${loggedInUser != null}">
    <tr>
        <th>Name</th>
        <th>Followers</th>
    </tr>
    <tr th:each="user : ${loggedInUser.following}">
        <td>
            <a th:href="@{/myReviews/{id}(id=${user.userId})}" th:text="${user.name}"></a>
        </td>
        <td th:text="${user.follower_Count}"></td>
    </tr>
</table>
</body>
</html>