<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<!-- Navigation links -->
<nav>
    <!-- Show login and create account links only if the user is not logged in -->
    <a th:if="${loggedInUser == null}" th:href="@{/home/login}">Login</a> |
    <a th:if="${loggedInUser == null}" th:href="@{/home/createAccount}">Create Account</a>

    <!-- Show logout link and welcome message if the user is logged in -->
    <span th:if="${loggedInUser != null}">
        Welcome, <span th:text="${loggedInUser.name}"></span>! |
        <a th:href="@{/home/logout}">Logout</a>
    </span>
</nav>

<nav th:fragment="header" class="navbar">
    <span th:if="${loggedInUser!=null}">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" th:href="@{/myReviews/user}">Your Account</a></li>
                <li><a class="nav-link" th:href="@{/users}">Other Users</a></li>
            </ul>
        </div>
    </span>
</nav>

<h1>Product List</h1>
<!-- Product list table -->
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
    </tr>
    <tr th:each="product: ${products}">
        <td>
            <a th:href="@{/home/product/{id}(id=${product.id})}" th:text="${product.name}"></a>
        </td>
        <td th:text="${product.category}"></td>
    </tr>
</table>
</body>
</html>