<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Product Details</title>
</head>
<body>
<form action="#" th:action="@{/home}" th:method="get">
  <button type="submit" >Back to Home Page</button>
</form>

  <h1>Product Details</h1>

  <ul>
    <li>Product Name: <span th:text="${product.getName()}"></span></li>
    <li>Product Category: <span th:text="${product.getCategory()}"></span></li>
    <li>Product Description: <span th:text="${product.getDescription()}"></span></li>
      <li>Average Star Rating: <span th:text="${product.getStars()}"></span></li>
  </ul>

<div th:if="${loggedInUser != null}">
  <form action="#" th:action="@{/newReview}" th:method="get">
    <button type="submit" id="submitButton">Write a New Review?</button>
  </form>
</div>

<div th:if="${loggedInUser == null}">
  <p><strong>Note:</strong> You must <a th:href="@{/home/login}">log in</a> to write a review.</p>
</div>

<form action="#" th:action="@{/home/product/{id}(id=${product.id})}" th:method="get">
    <button type="submit" >Sort by Default</button>
</form>
<form action="#" th:action="@{/home/product/{id}/jaccard(id=${product.id})}" th:method="get">
    <button type="submit" >Sort by Similarity</button>
</form>

<h2>Reviews:</h2>
<div th:each="review: ${reviews}">
    <details>
        <summary th:href="@{/myReviews/{id}(id=${review.reviewer.userId})}" th:text="${review.reviewer.name + ' gave this product ' + review.starRating} + ' stars'"></summary>
        <p th:text="${review.reviewText}"></p>
    </details>
</div>
</body>
</html>