<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form action="#" th:action="@{/home}" th:method="get">
    <button type="submit" >Back to Home Page</button>
</form>

<span th:if="${following.size() > 0}">
    <h2>Following</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Followers</th>>
            </tr>
            <tr th:each="follow: ${following}">
                <td>
                    <a th:href="@{/myReviews/{id}(id=${follow.userId})}" th:text="${follow.name}"></a>
                </td>
                <td th:text="${follow.follower_Count}"></td>
            </tr>
        </table>
</span>

<h2>All Users</h2>

<form action="#" th:action="@{/users/jaccard}" th:method="get">
    <button type="submit" >Sort by Jaccard Distance</button>
</form>
<form action="#" th:action="@{/users/popular}" th:method="get">
    <button type="submit" >Sort by Most Followers</button>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Followers</th>
        <th>Distance</th>
        <th>Follow this user?</th>
    </tr>
    <tr th:each="customer: ${customers}">
        <span th:if="${customer.userId != session.loggedInUser.userId}">
            <td>
                <a th:href="@{/myReviews/{id}(id=${customer.userId})}" th:text="${customer.name}"></a>
            </td>
            <td th:text="${customer.follower_Count}"></td>
            <td>
                <span th:if="${distanceMap.containsKey(customer.getUserId())}">
                    <p th:text="${distanceMap.get(customer.getUserId())}" style="margin: 0" />
                </span>
            </td>
            <td>
                <span th:if="${!loggedInUser.isFollowing(customer)}">
                    <a th:href="@{/home/follow(id=${customer.userId})}" th:text="'Follow'"></a>
                </span>
                <!-- Show "Unfollow" if the user is already following the customer -->
                <span th:if="${loggedInUser.isFollowing(customer)}">
                    <a th:href="@{/home/unfollow(id=${customer.userId})}" th:text="'Unfollow'"></a>
                </span>
            </td>
        </span>
    </tr>
</table>
</body>
</html>

